<h1>Here's our Menu</h1><br><br>
	<ol>
		<li>
			<h2 class="items">crispy corn pizza</h2> 
		</li>
		<li>
			<h2 class="items">grilled baby corn pizza</h2> 
		</li>
		<li>
			<h2 class="items">veg kebab pizza</h2> 
		</li>
		<li>
			<h2 class="items">paneer tikka pizza</h2> 
		</li>
		<li>
			<h2 class="items">tandoori chicken pizza</h2> 
		</li>
		<li>
			<h2 class="items">mushroom mix pizza</h2> 
		</li>
		<li>
			<h2 class="items">poached egg pizza</h2> 
		</li>
		<li>
			<h2 class="items">chilly chicken pizza</h2> 
		</li>
		<li>
			<h2 class="items">onion capsicum pizza</h2> 
		</li>
		<li>
			<h2 class="items">cheese burst pizza</h2> 
		</li>
	</ol>